/* LOADER */
.loading-image {
  animation:spin 4s linear infinite;
}
@keyframes spin { 100% { transform:rotate(360deg); } }

#itowns-loader {
  z-index: 1000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* GENERAL CSS */

html {
  height: 100%;
}

body {
  margin: 0;
  height:100%;
  overflow: hidden;
}

/* ITOWNS MAP */

.viewerDiv {
    margin : auto auto;
    width: 100%;
    height: 100%;
    padding: 0;
}

/* MENU */

.logo-menu{
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

#menuContainer{
  width: 40%;
  margin: auto;
  padding: 10px;
}

#logoContainer{
  display: inline-flex;
}